<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   JSQMessages

   Created by User on 12/04/17.
   Copyright (c) 2017 Hexed Bits. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
